
////////////////////// HOME PAGE

html, body {
	width: 100%;
	height: 100%;
}

.home-mainContainer {
	width: 100%;
	height: 100%;
}
	

.home-mainContainer::before {
	background-image:
		linear-gradient(#3D1200, #FF5A14, #A9DD66);
	background-image: url('../assets/home-BackgroundImg.jpg');
	background-size: cover;
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -2;
	filter: brightness(0.85);

	// opacity: 0.4;

	// margin: 0px auto;
	// background-repeat: no-repeat;
	// // background-size: cover;

	// // height: 750px;
	// display: flex;
	// justify-content: center;
	// align-items: flex-start;

}

.home-mainContainer .home-formContainer {
	text-align: center;
}


.home-formContainer {
	width: 400px;
	text-align: center;
	margin: 0px auto;
	padding-left: 20px;
}

.home-formElementsContainer {
}

