
html, body {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 1.2rem;
}

button {
	font-family: 'Viga', sans-serif;
	color: #FFF8E5;
	font-size: 1.1rem;

	padding: 10px 20px;
	border-radius: 8px;
	border: 0px;
	margin: 15px;

	transition: background-color 0.2s ease;
	background-color: #055600;
}

button:hover {
	background-color: #0044B2;
	color: #FFF8E5;
}


input {
    padding: 10px; 
    border-radius: 5px;
    font-size: 1.2rem;
}